@font-face {
    font-family: 'adequateextra_light';
    src: url('adequate-extralight-webfont.woff2') format('woff2'),
         url('adequate-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: sans-serif;
    margin: 0px auto;
}

body {
    background-color: #0e76da;
}

/* Login Page */

#greeting {
    margin-left: 6%;
    padding-top: 3%;
    vertical-align: top;
    
}

    #greeting h1 {
        font-size: 96px;
        font-weight: 100;
        font-family: "adequateextra_light";
        color: #ff9700;
    }

    #greeting p {
        font-family: "adequateextra_light";
        color: #ffb54B;
    }

#get_in {
    display: block;
    margin: 5% auto 0% auto;
    width: 400px;
    background-color: #ffB54B;
    border-radius: 16px;
    text-align: center;
}

#get_in h2 {
    margin: 16px 0px 8px 0px;
}

#splitter {
    width: 65%;
    border: 1px inset;
    color: black;
}

.log_reg {
    background-color: white;
    padding: 8px 4px;
    margin: 8px 4px;
    border: none;
    border-radius: 6px;
}

    .log_reg::placeholder{
        color: grey;
        text-align: center;
    }

#email_field {
    width: 348px;
}

.log_reg_but {
    width: 125px;
    padding: 5px 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: #00498F;
    color: white;
    cursor: pointer; 
}

/* Users Page */

.page_title {
    display: inline-block;
    margin: 2% 0% 0% 4%;
    font-family: "adequateextra_light";
    font-size: 48px;
    font-weight: 100;
    color: #ff9700;
}

.links {
    display: inline-block;
    vertical-align: top;
    margin: 1.5% 0% 0% 75%;
}

    .links a {
        text-decoration: none;
        color: #FFB54B;
        padding: 0px 5px;
    }

#board {
    display: inline-block;
    margin: 4% 0% 0% 20%;
    width: 600px;
    text-align: center;
}

.posted_ideas {
    width: 500px;
    height: 150px;
    padding: 20px;
    margin-top: 20px;
    background-color: #FFB54B;
    border-radius: 25px;
    text-align: left;
}

.posted_ideas a {
    margin: 
}




