{% if fname_val == False %}
<p>Names must contain only letters and be at least two characters.</p>
{% endif %}

{% if lname_val == False %}
<p>Names must contain only letters and be at least two characters.</p>
{% endif %}

{% if email_format == False %}
<!-- <p>Invalid Email Format</p> -->
{% endif %}

{% if email_exists == True %}
<p style="color:red">Email is use.</p>
{% endif %}
{% if email_exists == False %}
<p style="color:green">Email Available</p>
{% endif %}

{% if pw_check == False %}
<p>Password must have at least 5 characters, including one number, one uppercase and one lowercase letter, and one symbol.</p>
<br>
{% endif %}

{% if pw_match == False %}
<p style="color:red">Passwords do not match.</p>
{% endif %}