<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./style.css')}}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./index.js') }}"></script>     
    <title>Ideas</title>
</head>
<body>
    <div id="greeting">
        <h1>Ideas!</h1>
        <p>A creative place to collaborate and share information</p>
    </div>
    <div id="get_in">
        <h2>Login</h2>
        <form action="/login" id="login_form" method="POST">
            <input type="text" name="email" placeholder="Email" class="log_reg">
            <input type="password" name="pass" placeholder="Password" class="log_reg">
            <button id="login_submit" type="submit" class="log_reg_but">Log In</button>
        </form>
        {% with messages = get_flashed_messages(category_filter=["login"]) %}    
        {% if messages %}                           
            {% for message in messages %}           
                <p style="color:red">{{message}}</p>               
            {% endfor %}
        {% endif %}
        {% endwith %}   
        <hr id="splitter">
        <h2>Register</h2>
        <form action="/register" id="reg_form" method="POST">
            <input id="reg_fname" class="log_reg" type="text" name="fname" placeholder="First Name">
            <input id="reg_lname" class="log_reg" type="text" name="lname" placeholder="Last Name">
            <input id="reg_email" class="log_reg email_field" type="text" name="email" placeholder="Email">
            <input id="reg_pw" class="log_reg" type="password" name="pass" placeholder="Password">
            <input id="reg_pw_match" class="log_reg" type="password" name="confirmpass" placeholder="Confirm Password">
            <!-- Error messages below -->
            <div id="reg_error_fname"></div><div id="reg_error_lname"></div>
            <div id="reg_error_fname"></div><div id="reg_error_lname"></div>
            <div id="reg_error_email"></div>
            <div id="reg_error_pw"></div><div id="reg_error_pw_match"></div>
            <button type="submit" id="reg_submit" class="log_reg_but">Register</button>
        </form>
        {% with messages = get_flashed_messages(category_filter=["registration"]) %}    
        {% if messages %}                           
            {% for message in messages %}           
                <p style="color:red">{{message}}</p>               
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>