<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Idea Details</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css.css')}}">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
</head>
<body>
    <div class="idea">
        <h1>All users:</h1>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            {% if user.user_id != session["user_id"]["id"] %} 
            <tr>
                <td>{{ user.f_name }} {{ user.l_name }} {{user.user_id}}</td>
                <td>{{  user.email }}
                    {% for friend in user.friends %}
                    {{friend.user_id}}
                    {% endfor %}
                </td>
                <td>
                    {% if current_user in user.friends %}
                            {% if user not in current_user.friends %} 
                            <p>Request Pending</p>
                            {% else %}
                            <p><a href="/remove_friend/{{user.user_id}}">Remove Friend</a>
                            {% endif %}
                    {% else %}
                        <p><a href="/add_friend/{{user.user_id}}">Request Friend</a>
                    {% endif %}                      
                </td>                 
            </tr>
            {% endif %}
            {% endfor %}
            {% for user in user_list %}
            {% if user.user_id == session["user_id"]["id"] %}
            <tr>
                <td>{{ user.f_name }} {{ user.l_name }} {{user.user_id}}</td>
                <td>{{  user.email }}</td>
                <td><p>(You)</p></td>
            </tr>
            {% endif %}                        
            {% endfor %}
        </tbody>
    </table>
    <a class="idea" href="/userpage">Go Back</a>
</body>
</html>