<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user_data.f_name}}'s Bright Ideas</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./style.css')}}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./userpage.js') }}"></script>       
</head>
<body>
    <div class="links">
        <a href="/userpage">Home</a>

        <a href="/userprofile/{{user_data.user_id}}">Account</a>
        <a href="/users">Users</a>
        <a href="/followers/{{user_data['id']}}">Followers</a>
        <a href="/logout">Logout</a>
    </div>
    <h1 class="page_title">Ideas!</h1>
    <div id="post_idea">
        <h2>Hey {{user_data.f_name}}, post a great idea!</h2>
        <form action="/create_idea" id="idea" method="POST">
            <textarea id="idea_textarea" form="idea" rows="2" cols="40" placeholder="If we just blew into the sail, we could travel the oceans forever!" name="idea_content"></textarea><br>
            <button type="submit" id="submit_idea">Submit</button>
        </form>
    </div>
    <hr>
    <!-- {% with messages = get_flashed_messages() %}   
    {% if messages %}                         
        {% for message in messages %}           
            <p style="color:red">{{message}}</p>                  
        {% endfor %}
    {% endif %}
    {% endwith %} -->
    <div id="board">
        <h2 id="board_greeting">What others are thinking</h2>
        {% for idea in idea_data %}
        <div class="posted_ideas triangle {{idea.idea_id}}" id="idea_feed">
            {% if idea.author.user_id == user_data.user_id %} 
                <button id="delete_button" class="{{idea.idea_id}}">X</button>
            {% endif%}
            <p>{{ idea.author.f_name}} {{idea.author.l_name}} wrote {{idea.content}} at {{idea.created_at.strftime('%Y-%m-%d')}}:</p>
            <!-- {% if idea["time_now"] %}
                just now
                {% elif idea["time_since_seconds"] %}
                    {{idea["time_since_seconds"]}} seconds ago
                {% elif idea["time_since_minutes"] %}
                    {{idea["time_since_minutes"]}} minutes ago
                {% elif idea["time_since_hours"] %}
                    {{idea["time_since_hours"]}} hours ago
                {% elif idea["time_since_days"] %}
                    {{idea["time_since_days"]}} days ago
            {% endif %}
            {% if idea["created_at"] != idea["updated_at"] %} 
                (updated {{idea["updated_at"].strftime('%Y-%m-%d')}})
            {% endif %} -->
            {% if user_data in idea.liked_by %}
                <button class="{{idea.idea_id}}" id="unlike">Unlike</button>
            {% else %}
                <button class="{{idea.idea_id}}" id="like">Like</button>
            {% endif %} 
            {% if idea.liked_by|length > 0 %}
            <a href="/details/{{idea['idea_id']}}"><p id="display_likes">{{idea.liked_by|length}}</p></a>
            {% endif %}
            {% if idea.author.user_id == user_data.user_id %} 
                <a href="/edit/{{idea['idea_id']}}" id="edit_idea" class="edit_content {{idea.idea_id}}">Edit</a>
            {% endif %}
        </div>   
    {% endfor %}    
    </div>
</body>
</html>